<md-bottom-sheet class="md-list md-has-header">
	<md-input-container layout-fill>
		<label>Records to retrieve</label>
		<input ng-model="RecordsToRetrieve">
	</md-input-container>
	<md-input-container layout-fill>
		<label>Order By</label>
		<input ng-model="OrderBy">
	</md-input-container>
	<md-radio-group ng-model="OrderByDirection">
		<md-radio-button value="asc">Order Ascending</md-radio-button>
		<md-radio-button value="desc">Order Descending</md-radio-button>
	</md-radio-group>
</md-bottom-sheet>