<md-sidenav class="md-sidenav-left md-whiteframe-z2 full-height site-sidenav" md-component-id="leftMenu" md-is-locked-open="$mdMedia('gt-md')" >
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Duplicate Detection</h1>
  </md-toolbar>
  <md-content layout-padding layout="column" layout-align="start start">
    <md-button ui-sref="sessions">Sessions</md-button>
    <md-button ui-sref="todo">Search Profiles</md-button>
  </md-content>
</md-sidenav>

<!--[if lt IE 10]>
  <p class="browsehappy">You are using an
    <strong>outdated</strong>browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p>
<![endif]-->


<md-content layout="column" flex>
  <md-toolbar class="md-whiteframe-z2 md-default-theme site-content-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" hide-gt-md ng-click="toggleSideNav('leftMenu')" aria-label="side navigation">
        <md-icon class="md-dark">menu</md-icon>
      </md-button>
      <md-button href="http://www.flexsearch.net">FlexSearch</md-button>
    </div>
  </md-toolbar>
  <md-content ui-view layout="column" class="main-content" flex></md-content>
</md-content>
