<md-content>
  <md-whiteframe class="md-whiteframe-z4">
    <md-toolbar class="md-default-theme site-content-toolbar">
      <div class="md-toolbar-tools">
        <a href="/#/home" class="brand-logo"><img src="assets/images/logo.png" style="height:20px; margin-left: 20px"></a>
        <span flex></span>
        <md-button href="https://github.com/FlexSearch" title="Launch FlexSearch Github repository in a new window" target="_blank"
        aria-label="https://github.com/FlexSearch" class="launch">
          Github
        </md-button>
        <md-button href="http://flexsearch.net" title="Launch FlexSearch documentation in a new window" target="_blank" aria-label="flexsearch.net"
        class="launch">
          Documentation
        </md-button>
      </div>
    </md-toolbar>
  </md-whiteframe>
</md-content>
<div id="content-container" flex layout="column" layout-wrap ui-view style="height:100%;"></div>