<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <gcServer enabled="true" />

    <!-- By default, the runtime uses concurrent garbage collection, which is optimized for 
    latency. If you set the enabled attribute of the <gcConcurrent> element to false, 
    the runtime uses non-concurrent garbage collection, which is optimized for 
    throughput. -->
    <gcConcurrent enabled="true" />

    <!-- On 64-bit platforms, enables arrays that are greater than 2 gigabytes (GB) in total size. -->
    <gcAllowVeryLargeObjects enabled="true" />

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;plugins" />
      <dependentAssembly>

        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Diagnostics.Tracing.EventSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.26.0" newVersion="1.0.26.0" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>