<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  
  <extensions>
    <add assembly="Gibraltar.Agent.NLog2" />
  </extensions>
  
  
  <targets async="true" >
    <target name="Gibraltar" xsi:type="Gibraltar" />
    <target xsi:type = "File" name = "File"
          layout = "${longdate}  ${uppercase:${level}} ${logger} ${message}"
          fileName = "${basedir}/logs/log-${shortdate}.txt"
          archiveFileName = "${basedir}/logs/archives/log.{#}.txt"
          archiveEvery = "Day"
          archiveNumbering = "Rolling"
          maxArchiveFiles = "100"
          concurrentWrites = "true"
          keepFileOpen = "false"
          encoding = "iso-8859-2"  />
  </targets>

  <rules>
    <!-- Uncomment the below line to write to disk -->
    <logger name = "*"  minlevel = "Info"  writeTo="File"  />
    <!--<logger name="*" minlevel="Trace" writeTo="Gibraltar" />-->
  </rules>
</nlog>