.full-height {
    height: 100%;
}

.full-width {
  width: 100%;
}

md-sidenav[md-component-id='leftMenu'] {
    width: 250px;
    min-width: 200px;
}

md-content.duplicate-list{
  min-width: 320px;
}

.site-content-toolbar {
  background: #f6f6f6 !important;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(246, 246, 246);
  color: #202020 !important;
  z-index: 3;
}

.material-icons.md-48, .material-icons .md-48 {
  font-size: 48px;
}

.duplicate-list md-icon.md-secondary {
  margin-top: 0px;  
}

md-content.main-content {
  background-color: rgba(0, 0, 0, 0.0470588);
}

.site-content-toolbar .md-icon-button:first-child{
  margin-top: -10px;
}

.md-toolbar-tools {
  padding: 0 25px;
}

.md-toolbar-tools .md-button md-icon {
  margin-right: 5px;
}

/* --------------- */
/* Comparison Page */
/* --------------- */

md-whiteframe.comparison-page {
  margin: 30px;
  padding: 0px;
  /*height: 100%;*/
}

.comparison-page md-progress-linear {
  display: none;
}

md-card.comparison {
  margin: 30px 30px 15px 30px;
 
}

th .ui.checkbox {
  margin-left: 20px;
}

.md-subheader .ui.segment {
  padding: 0px;
}

.md-subheader.pagination .md-subheader-inner {
  padding: 16px 1px 16px 1px;
}

h2[sticky-state='active'] ~ div md-card.comparison {
  margin-top: 60px;
}

.md-subheader.pagination {
  display: none;
}

div.activeDuplicate {
  padding-left: 30px;
}

i.checkmark.icon {
  margin-right: 10px;
}

/* ------------- */
/* Sessions Page */
/* ------------- */

md-whiteframe.sessions-page {
  margin: 30px;
}

.sessions-page .ui.table tr {
  cursor: pointer;
}

md-sidenav.new-session {
  min-width: 400px;
}


/* Material CSS */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.Processed { color: #5bbd72 !important; }		
.material-icons.Reviewed { color: rgb(33, 150, 243); }		
.material-icons.Proposed { color: #FB8C00; }		

md-icon span.large, md-icon.large {
  font-size: 36px;
  height: 36px;
  width: 36px;
}