/// <summary>
        /// {{^description}}Gets or Sets {{{name}}}{{/description}}{{#description}}{{{description}}}{{/description}}
        /// </summary>
        [DataMember(Name = "{{name}}", EmitDefaultValue = false)]
        [JsonProperty(PropertyName = "{{baseName}}", DefaultValueHandling = DefaultValueHandling.Ignore)]{{#defaultValue}}[DefaultValue({{#isEnum}}{{name}}.{{/isEnum}}{{{defaultValue}}})]{{/defaultValue}}
        public {{#isEnum}}{{name}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}} {{name}} { get; set; } 

{{#defaultValue}} = 
    {{#isEnum}}{{name}}.{{/isEnum}}{{{defaultValue}}};
{{/defaultValue}}
{{^defaultValue}}
    {{#isPrimitiveType}}
        {{#isContainer}} = new {{{datatype}}}();{{/isContainer}}
    {{/isPrimitiveType}}
    {{^isPrimitiveType}}
        {{#isContainer}} = Array.Empty<{{{datatype}}}>();{{/isContainer}}
        {{^isContainer}} = new {{{datatype}}}();{{/isContainer}}
    {{/isPrimitiveType}}
{{/defaultValue}}