form.searchstudio {
	height: 100%;
}

md-progress-linear {
	z-index: 10;
	margin-top: -5px !important;
}

.search-fields, .profile-fields {
    min-height: 45px !important;
}

.extraTopPadding {
    padding-top: 20px;
}

code.no-vars {
    padding: 0px 20px;
    padding-bottom: 50px;
}

button.refresh-btn.md-button {
    min-width: 0px !important;
    width: 30px;
    margin-left: 0px;
    padding-left: 0px;
}

.vars-subheader.md-subheader .md-subheader-inner {
    padding-bottom: 0px;
}

div.variables {
    min-height: 250px !important;
}

md-content.list-items {
    padding-left: 10px;
}

#session-sidebar {
    z-index: 2;
}

div.editor {
    z-index: 1;
}