<form name="form" flex layout-wrap layout="row" class="searchstudio">
    <div id="session-sidebar" flex="25" layout="column" class="md-whiteframe-z2">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-select placeholder="Select index" ng-model="IndexNumber" required ng-change="updatePage()">
                    <md-option ng-repeat="index in Indices" value="{{$index}}">'{{index.Name}}' index</md-option>
                </md-select>
            </div>
        </md-toolbar>
        <md-subheader class="md-warn" ng-show="ActiveIndex">Select the fields from the below list to output in the search result</md-subheader>
        <div flex layout="row" layout-align="center">
            <md-content flex layout="column" class="list-items scrollable">
                <div ng-show="ActiveIndex" style="padding-bottom: 30px;">
                    <md-checkbox class="md-primary" ng-model="ReturnAllColumns" ng-init="ReturnAllColumns=true" ng-click="onReturnAllColumnsClick()">Return all columns</md-checkbox>
                    <md-divider></md-divider>
                </div>
                <!-- Fields to return -->
                <div ng-repeat="field in ActiveIndex.Fields" class="search-fields">
                    <md-checkbox class="md-primary" ng-model="field.Show" aria-label="Show in results">{{field.Name}}</md-checkbox>
                </div>

            </md-content>
        </div>

        <md-subheader ng-show="ActiveIndex && ProfileMode" class="md-warn vars-subheader">
            <div flex layout="row">
                <div>
                    <md-button ng-click="refreshVars()" type="submit" class="refresh-btn">
                        <md-icon ng-class="md-light">refresh</md-icon>
                    </md-button>
                </div>
                <div flex layout="row" layout-align="center center"><div>Predefined Query Variables - type in the values to test</div></div>
            </div>
        </md-subheader>
        <div flex layout="row" layout-align="center" ng-show="ProfileMode && ActiveIndex" class="variables">
            <md-content flex layout="column" class="list-items scrollable">
                <code class="no-vars" ng-hide="ActiveIndex.Variables.length">No variables (@variable_name) present in the query</code>
                <!-- Variables -->
                <div ng-repeat="var in ActiveIndex.Variables" ng-class="{extraTopPadding:$first}">
                    <md-input-container layout-fill >
                        <label>{{var.Name}}</label>
                        <input ng-model="var.Value">
                    </md-input-container>
                </div>
            </md-content>
        </div>
    </div>
    <md-whiteframe id="session-comparison-box" flex layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>Search Studio</h3>
                <div flex></div>
                <md-switch class="md-primary md-warn" ng-model="ProfileMode" ng-click="updatePage()" aria-label="Predefined Query Mode">
                    Predefined Query Mode
                </md-switch>
                <md-button ng-click="submit(Indices[IndexNumber])" type="submit" ng-disabled="form.$invalid || !validateSubmit()">
                    <md-icon ng-class="md-light">send</md-icon>Submit</md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-progress-linear layout-fill md-mode="indeterminate" ng-show="mainProgressBar"></md-progress-linear>
            <div ui-ace="AceOptions" class="editor" ng-model="SearchQuery" style="height:350px; font-size:1.1em;"></div>
        </md-content>
        <div style="background:#c8c8c8;padding:1em">
            <div layout="row" style="margin-top:0px;padding-top:0px">
                <md-input-container flex style="margin-top:0px;padding-top:0px" ng-show="ProfileMode">
                    <label>Predefined Queries</label>
                    <md-select placeholder="Select a profile" ng-model="spQueryString" md-on-close="updateSearchQuery(spQueryString)">
                        <md-option ng-repeat="profile in ActiveIndex.SearchProfiles" value="{{profile.queryString}}">{{profile.queryName}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex style="margin-top:0px;padding-top:0px">
                    <label>Records to retrieve</label>
                    <input ng-model="RecordsToRetrieve">
                </md-input-container>
                <md-input-container flex style="margin-top:0px;padding-top:0px">
                    <label>Order By</label>
                    <md-select placeholder="Select Order by field" ng-model="OrderBy">
                        <md-option ng-repeat="field in ActiveIndex.Fields" value="{{$index}}">{{field.Name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex style="margin-top:0px;padding-top:0px">
                    <label>Order Direction</label>
                    <md-select placeholder="Select Order Direction" ng-model="OrderByDirection">
                        <md-option value="asc">Ascending</md-option>
                        <md-option value="desc">Descending</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div flex ui-grid="GridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-exporter ui-grid-selection class="grid"
        style="height:100%"></div>
    </md-whiteframe>
</form>
