

<md-whiteframe class="md-whiteframe-z1" layout="column">
	<md-toolbar class="md-whiteframe-z1">
		<div class="md-toolbar-tools">
			<h2>Analyzer Testing</h2>
			<span flex></span>
			<md-button ng-click="runTest()" type="submit" ng-disabled="form.$invalid" >
		    	<md-icon ng-class="md-light">send</md-icon>
		      Run
		    </md-button>
		</div>
		<md-progress-linear layout-fill md-mode="indeterminate" layout-padding ng-show="showProgress"></md-progress-linear>
	</md-toolbar>
	<md-content layout="column" layout-padding>
		<form name="form" layout="row" layout-padding>
			<md-select placeholder="Analyzer Name" ng-model="AnalyzerName" required>
				<md-option ng-repeat="analyzer in Analyzers" value="{{analyzer.analyzerName}}">{{analyzer.analyzerName}}</md-option>
			</md-select>
			<md-input-container layout-fill>
			  <label>Text to analyze</label>
			  <textarea ng-model="TextToAnalyze" required></textarea>
			</md-input-container>
		</form>
	</md-content>
	<md-toolbar class="md-whiteframe-z1" ng-show="Results != undefined">
		<h2 class="md-toolbar-tools">Results</h2>
	</md-toolbar>
	<md-content ng-show="Results != undefined">
		<md-list>
			<md-list-item ng-repeat="item in Results track by $index">
				<h4>{{$index+1}}. {{item}}</h4>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</md-whiteframe>