<?xml version="1.0" encoding="utf-8" ?>
<Settings version="1">
  <Node>
    <Name>test</Name>
    <HttpPort>9800</HttpPort>
    <TcpPort>9900</TcpPort>
    <Role>clustermaster</Role>
    <DataFolder>./data</DataFolder>
  </Node>
  <Cluster>
    <MasterNode>10.80.105.1</MasterNode>
  </Cluster>
</Settings>