/* Rules for sizing the icon. */

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54) !important;
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26) !important;
}

/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
  color: rgba(255, 255, 255, 1) !important;
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3) !important;
}

/*
  General
*/

.full-height {
  height: 100%;
}
md-card-title-text {
  padding-left: 20px;
}
md-card-title {
  border-bottom: 1px solid #e0e0e0;
}
.index-content {
  padding-top: 15px;
}
.stat {
  color: rgb(255, 255, 255);
  min-width: 150px;
  margin: 5px;
  border-radius: 2px;
}
.stat div span:first-of-type {
  font-weight: 100;
  font-size: 56px;
  letter-spacing: -.005em;
  line-height: 56px;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  text-align: center;
}
.stat.title div span:first-of-type {
  font-size: 36px;
}
.stat div span:nth-of-type(2) {
  font-size: 14px;
  font-weight: 500;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  letter-spacing: 0.14px;
  line-height: 24px;
  text-align: right;
  opacity: 0.6;
}
.index {
  padding: 20px;
}
.index .stat:nth-child(1) {
  border-color: rgb(255, 87, 34);
  background-color: rgb(255, 87, 34);
}
.index .stat:nth-child(2) {
  border-color: rgb(0, 188, 212);
  background-color: rgb(0, 188, 212);
}
.index .stat:nth-child(3) {
  border-color: rgb(63, 81, 181);
  background-color: rgb(63, 81, 181);
}
.index .stat:nth-child(4) {
  border-color: rgb(0, 150, 136);
  background-color: rgb(0, 150, 136);
}
.index .stat:nth-child(5) {
  border-color: rgb(0, 151, 167);
  background-color: rgb(0, 151, 167);
}
.index .stat:nth-child(6) {
  border-color: #b388ff;
  background-color: #b388ff;
}
.add-index {
  background-color: rgb(255, 87, 34)!important;
  color: white!important;
  position: fixed;
  bottom: 30px;
  right: 50px;
}
md-sidenav form {
  padding-top: 60px;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.8;
}
.index .stat.offline {
  background-color: rgba(0, 0, 0, 0.12);
  color: black;
}

/*
  Index Details page
*/

.index-details, .index-details md-content {
  background: none;
}
.index-details span.spacer {
  width: 10px;
}
.index-details .md-toolbar-tools h2 {
  text-align: center;
}
.index-details button.offline {
  background-color: lightpink;
}
.index-details button.offline:hover {
  background-color: #fd94a4 !important;
}
.index-details button.online {
  background-color: lightgreen;
}
.index-details button.online:hover {
  background-color: #6aef6a !important;
}
.index-details> div> md-content {
  background: none;
}
md-card-avatar md-icon {
  height: auto;
  width: auto;
}
md-card-content.fields {
  padding-top: 0px;
}
md-card-content.fields md-list-item p {
  padding-right: 40px;
  padding-left: 10px;
  overflow: hidden;
}
md-card-content.fields .md-subheader-inner {
  padding-left: 0px;
}
