<form name="form">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h1>New Field</h1>
      <span flex></span>
      <md-button ng-click="closeSidenav(); submit()" class="md-primary" type="submit" ng-disabled="form.$invalid">
        <md-icon class="material-icons md-light">save</md-icon>
        Save
      </md-button>
    </div>
    <md-progress-linear md-mode="query" ng-show="false"></md-progress-linear>
  </md-toolbar>
  <md-content layout-padding layout="column">
    <div layout="row">
      <md-input-container flex >
        <label for="fieldName">Field name</label>
        <input type="text" id="fieldName" ng-disabled="!isNewField" ng-model="fieldName" md-autofocus required/>
      </md-input-container>
      <md-input-container flex>
        <label for="fieldType">Field type</label>
        <md-select ng-model="fieldType" required>
          <md-option ng-repeat="fieldType in fieldTypes" value="{{fieldType}}">
            {{fieldType}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container flex>
        <label for="indexAnalyzer">Index analyzer</label>
        <md-select ng-model="indexAnalyzer">
          <md-option ng-repeat="analyzer in analyzers" value="{{analyzer}}">
            {{analyzer}}
          </md-option>
        </md-select>
        <md-tooltip md-direction="left">Analyzer to be used during indexing</md-tooltip>
      </md-input-container>
      <md-input-container flex>
        <label for="searchAnalyzer">Search analyzer</label>
        <md-select ng-model="searchAnalyzer">
          <md-option ng-repeat="analyzer in analyzers" value="{{analyzer}}">
            {{analyzer}}
          </md-option>
        </md-select>
        <md-tooltip md-direction="bottom">Analyzer to be used during searching</md-tooltip>
      </md-input-container>
      <md-input-container flex>
        <label for="similarity">Similarity</label>
        <md-select ng-model="similarity">
          <md-option ng-repeat="s in similarities" value="{{s}}">
            {{s}}
          </md-option>
        </md-select>
        <md-tooltip md-direction="bottom">Similarity defines the components of scoring. Similarity determines how engine weights terms. FlexSearch interacts with Similarity at both index-time and query-time.</md-tooltip>
      </md-input-container>
    </div>
    <md-input-container>
      <md-switch class="md-primary" ng-model="allowSort">Allow sorting: {{allowSort ? "Yes" : "No"}}</md-switch>
      <md-tooltip md-direction="left">Sorting will increase the size of your index</md-tooltip>
    </md-input-container>
  </md-content>
</form>
