<md-card-header>
  <md-card-avatar>
    <md-icon>view_column</md-icon>
  </md-card-avatar>
  <md-card-header-text layout="row" layout-align="space-between center">
    <div layout="column">
      <span class="md-title">Fields</span>
      <span class="md-subhead"># {{index.fields.length}}</span>
    </div>
    <md-button class="md-fab md-mini md-hue-1" aria-label="Add new field" ng-click="toggleRight()" ui-sref="indexDetails.edit-field">
      <md-icon>add</md-icon>
    </md-button>
  </md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-content flex class="fields" ng-class="{empty: index.fields.length == 0}">
  <md-content class="scrollable" style="height: 500px;">
    <p ng-show="index.fields.length == 0" class="empty" style="padding-top: 200px">It's lonely in here.</p>
    <p ng-show="index.fields.length == 0" class="empty">
      Click
      <md-button class="md-fab md-mini md-hue-1" aria-label="Add new field" ng-click="toggleRight()" ui-sref="indexDetails.edit-field">
        <md-icon>add</md-icon>
      </md-button>
      to add a new field.
    </p>
    <md-list>
      <md-list-item ng-repeat="field in index.fields | filter: {fieldType: fieldType}" ui-sref="indexDetails.edit-field({fieldName: field.fieldName})" ng-click="toggleRight()">
        <p>{{field.fieldName}} - {{field.fieldType}}</p>
        <md-button class="md-icon-button md-mini" aria-label="Edit field">
          <md-icon>edit</md-icon>
        </md-button>
      </md-list-item>
    </md-list>
  </md-content>
</md-card-content>
