<form name="form">
  <md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
      <h1>New Index</h1>
      <span flex></span>
      <md-button ng-click="closeSidenav(); create()" type="submit" ng-disabled="form.$invalid">
        <md-icon class="material-icons md-light">add</md-icon>
        Create
      </md-button>
    </div>
    <md-progress-linear md-mode="query" ng-show="false"></md-progress-linear>
  </md-toolbar>
  <md-content layout-padding layout="column">
    <md-input-container>
      <label for="indexName">Index name</label>
      <input type="text" id="indexName" ng-model="indexName" md-autofocus required/>
    </md-input-container>
    <md-slider-container>
      <span class="md-body-1">Shard count</span>
      <md-tooltip>Total number of shards to be present in the given index.</md-tooltip>
      <md-slider flex ng-model="shardCount" min="0" max="5" aria-label="shardCount" id="shardCount">
      </md-slider>
      <md-input-container>
        <input flex type="number" ng-model="shardCount" aria-label="shardCount" aria-controls="shardCount">
      </md-input-container>
    </md-slider-container>
  </md-content>
</form>
