<div layout="row">
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-01.jpg">
            <span class="card-title black">Welcome</span>
          </div>
          <div class="card-content">
            <p>FlexSearch server has been successfully started. Learn more about FlexSearch by visiting below links or access
              other resources available from the page.</p>
          </div>
          <div class="card-action">
            <a href="#" class="black-text">Why FlexSearch?</a>
            <a href="#" class="black-text">Documentation</a>
          </div>
        </div>
      </div>
    </div>
    <h2>Installed tools</h2>
    <hr />
    <div class="row">
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-02.jpg">
            <span class="card-title black">Swagger</span>
          </div>
          <div class="card-content">
            <p>FlexSearch uses Swagger specification to document its REST API. From here you can access the Swagger UI and explore
              the API.
            </p>
          </div>
          <div class="card-action">
            <a ui-sref="swagger" class="black-text">Swagger UI</a>
            <a href="http://swagger.io/" class="black-text">More Info</a>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-03.jpg">
            <span class="card-title black">Demo Index</span>
          </div>
          <div class="card-content">
            <p>FlexSearch ships with pre-configured test data which can be used to explore the engine. Use the below links to
              setup demo index to follow along the tutorials.
            </p>
          </div>
          <div class="card-action">
            <a href="#" class="black-text">More Info</a>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-04.jpg">
            <span class="card-title black">Search UI</span>
          </div>
          <div class="card-content">
            <p>Basic search UI which can be used to query data from the index.</p>
          </div>
          <div class="card-action">
            <a ui-sref="search" class="black-text">More Info</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-05.jpg">
            <span class="card-title black">Analysis tool</span>
          </div>
          <div class="card-content">
            <p>This tool can be used to understand the behaviour of analyzers on input text. This will show the output data
              from FlexSearch analysis chain.
            </p>

          </div>
          <div class="card-action">
            <a ui-sref="analyzerTest" class="black-text">More Info</a>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-01.jpg">
            <span class="card-title black">Search Profile UI</span>
          </div>
          <div class="card-content">
            <p>This tool can be used to test and configure search profiles.</p>
          </div>
          <div class="card-action">
            <a ui-sref="searchProfile" class="black-text">More Info</a>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-02.jpg">
            <span class="card-title black">Background Duplicate Match</span>
          </div>
          <div class="card-content">
            <p>This tool can be used to create new BDM sessions and view existing results.</p>
          </div>
          <div class="card-action">
            <a ui-sref="sessions" class="black-text">More Info</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-03.jpg">
            <span class="card-title black">Dashboard</span>
          </div>
          <div class="card-content">
            <p>Quick overview of all the indices and settings present in the cluster.
            </p>
          </div>
          <div class="card-action">
            <a ui-sref="dashboard" class="black-text">More Info</a>
          </div>
        </div>
      </div>
    </div>