<div layout="row">
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col">
        <div class="card medium">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-04.jpg">
            <span class="card-title black">Welcome</span>
          </div>
          <div class="card-content">
            <p>FlexSearch server has been successfully started. Learn more about FlexSearch by visiting below links or access
              other resources available from the page.</p>
          </div>
          <div class="card-action">
            <button href="#" class="md-button">Why FlexSearch?</button>
            <button href="#" class="md-button">Documentation</button>
          </div>
        </div>
      </div>
    </div>
    <h1>Installed tools</h1>
    <hr />
    <div class="row">
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-01.jpg">
            <span class="card-title black">Swagger</span>
          </div>
          <div class="card-content">
            <p>FlexSearch uses Swagger specification to document its REST API. From here you can access the Swagger UI and explore
              the API.
            </p>
          </div>
          <div class="card-action">
            <button ui-sref="swagger">Swagger UI</button>
            <button href="http://swagger.io/">More Info</button>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-02.jpg">
            <span class="card-title black">Demo Index</span>
          </div>
          <div class="card-content">
            <p>Setup a demo index to explore the engine and to follow along the tutorials..
            </p>
          </div>
          <div class="card-action">
            <button href="#" class="black-text">More Info</button>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-04.jpg">
            <span class="card-title black">Search UI</span>
          </div>
          <div class="card-content">
            <p>Basic search UI which can be used to query data from the index.</p>
          </div>
          <div class="card-action">
            <button ui-sref="search" class="black-text">More Info</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-05.jpg">
            <span class="card-title black">Analysis tool</span>
          </div>
          <div class="card-content">
            <p>This tool can be used to understand the behaviour of analyzers on input text. This will show the output data
              from FlexSearch analysis chain.
            </p>

          </div>
          <div class="card-action">
            <button ui-sref="analyzerTest" class="black-text">More Info</button>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-01.jpg">
            <span class="card-title black">Search Profile UI</span>
          </div>
          <div class="card-content">
            <p>This tool can be used to test and configure search profiles.</p>
          </div>
          <div class="card-action">
            <button ui-sref="searchProfile" class="black-text">More Info</button>
          </div>
        </div>
      </div>
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-02.jpg">
            <span class="card-title black">Background Duplicate Match</span>
          </div>
          <div class="card-content">
            <p>This tool can be used to create new BDM sessions and view existing results.</p>
          </div>
          <div class="card-action">
            <button ui-sref="sessions" class="black-text">More Info</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s1">
        <div class="card small">
          <div class="card-image">
            <img src="app/assets/images/material/mb-bg-fb-04.jpg">
            <span class="card-title black">Dashboard</span>
          </div>
          <div class="card-content">
            <p>Quick overview of all the indices and settings present in the cluster.
            </p>
          </div>
          <div class="card-action">
            <button ui-sref="dashboard" class="black-text">More Info</button>
          </div>
        </div>
      </div>
    </div>