<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.4.1" targetFramework="net451" />
  <package id="Autofac.Extras.Attributed" version="3.2.1" targetFramework="net451" />
  <package id="FlexLucene" version="4.9.0.0" targetFramework="net451" />
  <package id="FParsec" version="1.0.1" targetFramework="net451" />
  <package id="Gibraltar.Loupe.Viewer" version="3.5.6.1696" targetFramework="net451" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.14" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Owin.Extensions" version="0.8.5" targetFramework="net451" />
  <package id="Owin.Types" version="0.8.5" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.92.0" targetFramework="net451" />
</packages>