<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CS-Script" version="3.6.2.0" targetFramework="net45" />
  <package id="FlexLucene" version="4.5.0.0" targetFramework="net45" />
  <package id="IKVM" version="7.3.4830.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.0.16" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.0.16" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net451" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Owin.Extensions" version="0.8.5" targetFramework="net451" />
  <package id="Owin.Types" version="0.8.5" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net451" />
  <package id="System.Data.SQLite.x64" version="1.0.89.0" targetFramework="net451" />
  <package id="Topshelf" version="3.1.1" targetFramework="net451" />
</packages>