<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" userInstalled="true" />
  <package id="Autofac.Extras.Attributed" version="3.3.0" targetFramework="net452" userInstalled="true" />
  <package id="Autofac.Mef" version="3.0.3" targetFramework="net452" userInstalled="true" />
  <package id="FlexLucene" version="5.1.0.0" targetFramework="net452" userInstalled="true" />
  <package id="Fody" version="1.28.3" targetFramework="net452" userInstalled="true" />
  <package id="FParsec" version="1.0.1" targetFramework="net451" userInstalled="true" />
  <package id="Freezable.Fody" version="1.6.7.0" targetFramework="net452" developmentDependency="true" userInstalled="true" />
  <package id="FSharp.Control.AsyncSeq" version="1.15.0" targetFramework="net452" userInstalled="true" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net452" userInstalled="true" />
  <package id="FSharpx.Async" version="1.12.0" targetFramework="net452" userInstalled="true" />
  <package id="FSharpx.Collections" version="1.10.1" targetFramework="net452" userInstalled="true" />
  <package id="FSharpx.Extras" version="1.10.2" targetFramework="net452" userInstalled="true" />
  <package id="IKVM" version="8.0.5449.1" targetFramework="net451" userInstalled="true" />
  <package id="Janitor.Fody" version="1.1.1.0" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc3-20150605-01" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc3-20150605-01" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc3-20150605-01" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="1.0.0-rc3-20150605-01" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.CodeAnalysis.Scripting.CSharp" version="1.0.0-rc3-20150605-01" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.24" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource" version="1.1.24" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.24" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.0.0.0" targetFramework="net451" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net452" userInstalled="true" />
  <package id="MsgPack.Cli" version="0.5.11" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" userInstalled="true" />
  <package id="NullGuard.Fody" version="1.4.1" targetFramework="net452" developmentDependency="true" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net451" userInstalled="true" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net452" userInstalled="true" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net452" userInstalled="true" />
  <package id="ToString.Fody" version="1.7.0.0" targetFramework="net452" developmentDependency="true" userInstalled="true" />
  <package id="YamlDotNet" version="3.6.0" targetFramework="net452" userInstalled="true" />
</packages>